@font-face {
    font-family: "Fraunces";
    src: url("./Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}
@font-face {
    font-family: "Tangerine";
    font-weight: 700;
    src: url("Tangerine/Tangerine-Bold.ttf");
}

:root {
    font-size: 16px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

img {
    display: block;
}
body {
    font-size: 1rem;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
    color:rgb(78, 78, 78);
}
h1, h2, h3, h4, h5 {
    font-family: 'Tangerine', Verdana, Geneva, Tahoma, sans-serif;
    overflow-wrap: break-word;
    text-wrap: balance;
    color:rgb(29, 29, 29);
}

h1 {
    font-size:  clamp(1.4rem, 55vw, 2.5rem);
}
h2, h3 {
    font-size: clamp(1.2rem, 35vw, 2rem);
}

.outer-grid {
    display: grid;
    grid-template-columns: 1fr minmax(750px, 5fr);
    grid-template-rows: min-content;
    grid-auto-rows: max-content;
    background: linear-gradient(to bottom,rgb(243, 234, 214) 29px,#10819b 1px);
    background-size: 100% 30px;
    background-repeat: repeat;
    width: 100vw;
    min-height: 100vh;
}

.side-bar {
    grid-column: 1;
    background-color: #1c3321;
    color: white;
    grid-row: 1/3;
    padding: 1.5rem;
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 4rem;
}

.header-content {
    grid-column: 2/-1;
    background-color: #f1f0ec;
    padding:1rem 3rem;
    box-shadow: 2px 2px 3px #acafa0;
}

.main-content {
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 6ch min-content 6ch min-content;
    column-gap: 18px;
    padding: 2rem 2rem 4rem 1rem;
}

.inner-grid {
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.trending-title {
    grid-column: 2; 
    grid-row: 3;
}
.project-title,
.announcement-title,
.trending-title {
    align-self: center;
    height: 1.5em;
    padding-inline: 2ch;
    width: max-content;
    display: inline-block;
    background-color: rgba(235, 202, 93, 0.705);
    transform: rotate(-5deg);
    z-index: 666;
}
.announcement-title {
    grid-column: 2;
}
.trending-tile,
.announcements-tile {
    grid-column: 2;
    display: grid;
    padding: 1rem 3rem;
    line-height: 1.25rem;
    h3 {
        line-height: 1.8rem;
    }
}
.card, 
.announcements-tile,
.trending-tile {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 3px rgb(207, 207, 207);
}

.announcement:not(:last-child) {
    padding-bottom: 1rem;
    margin-bottom: 0.9rem;
    border-bottom: 1px solid rgb(187, 187, 187);
}

.trending-tile {
    row-gap: 1.2rem;
}

.trending-user {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    column-gap: min(5%, 20px);
}
.trending-user img {
    border-radius: 50%;
}
.card {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    padding: 1.5rem 2rem;
    grid-template-rows: max-content;
}
.card::before {
    height: 100%;
    width:10px;
    background-color:#bc4b51;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    border-radius: 8px 0 0 8px;
}

.card-actions {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: end;
    align-items: end;
    column-gap: min(15%, 25px);
}

.logo{
    display: grid;
    grid-template-columns: min-content 1fr;
    font-size: clamp(2rem, 3rem, 4rem);
    column-gap: 4px;
    font-family: "Tangerine", cursive;
    align-items: center;
}

.dash-user-actions > ul , .dash-info-options > ul {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 1ch;
    row-gap: 2ch;
}

.dash-user-actions li, .dash-info-options li {
    list-style-type: none;
    font-size: 1.2rem;
    place-content: center;
}

.dash-user-actions li:hover, .dash-info-options li:hover {
    cursor: pointer;
    color:#bc4b51;
}

.header-top-search-panel {
    display: grid;
    grid-template-columns: 6fr 2fr;
    column-gap: min(25%, 250px);
}
.search, .sm-account {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    column-gap: 5px;
}

.searchbar {
    background: rgb(218, 218, 218);
    padding: 1rem;
    border-radius: 20px;
}

.sm-account {
    grid-template-columns: min-content min-content 1fr;
    column-gap: 1rem;
}

.sm-account-name {
    font-weight: 700;
}

.header-welcome-panel {
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.lg-account {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 1rem;
}

.post-options {
    display: grid;
    column-gap: min(30px, 5%);
    grid-template-rows: 3rem;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
}

.post-options > button {
    border-radius: 50px;
    background-color: #1c3321;
    color: white;
    font-size: 1.4rem;
    border: none;
    font-family: "Tangerine", cursive;
    display: grid;
    place-content: center;
}

.lg-profile-pic, .sm-profile-pic {
    border-radius: 50%;
}
